
h1{
    background: salmon;
    display: inline-block;
}
a{
    background: salmon;
    display: block;
}
p{
    background: yellow;
    color: aqua;
    text-transform: uppercase;
}
p2{
    background: aquamarine;
    color: blue;
    padding: 10px;
}