
h1{
    background: rgb(150, 114, 250);
    display: inline-block;
}
a{
    background: rgb(146, 250, 114);
    display: block;
}
p{
    background: red;
    color: aqua;
    text-transform: uppercase;

}
p2{
    background: aquamarine;
    color: blue;
    padding: 10px;
}